<?xml version="1.0"?>

<launch>

  <arg name="robot_ip"/>
  <arg name="sim">

  <include file="$(find ur_modern_driver)/launch/Unification/ur10_unification_bringup.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" default="0.0.0.0"/>
  </include>

  <include file="$(find ur10_moveit_config)/launch/ur10_moveit_planning_execution.launch" >
    <arg name="sim" value="$(arg sim)" default="False"/> 
  </include>  

  <arg name="robot_name" default="TARS"/>
  <param name="robot_name" value="$(arg robot_name)"/>
  <node pkg="ros1_unification_2019" name="ur_$(arg robot_name)_pose_updater" type="ur_pose_updater.py">
  
  </node>

  
</launch>
