<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur10" >

  <!-- common stuff -->
  <xacro:include filename="$(find ros1_unification_2019)/description/urdf/common.gazebo.xacro" />

  <!-- ur10 -->
  <xacro:include filename="$(find ros1_unification_2019)/description/urdf/ur10_unification.urdf.xacro" />

  <!-- arm -->
  <xacro:ur10_robot prefix="" joint_limited="false"/>

  <link name="world" />
  <!--
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
  
  <link name="station" />  
  -->
  <joint name="worldstation" type="fixed">
    <parent link="world" />
    <child link = "stationn" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
